body {
  background-color: #ccc;
  width:100vw;
  height:100vh;
  padding:0;
  margin:0;
}
.container{
  width:100%;
  height:100%;
  background-color:transparent;
}
.fourth-grid{
  width:50%;
  height:50%;
  border:0;
  margin:0;
  padding:0;
  background-color:#888;
  float:left;
  font-family:Arial;
}
.img-resizable{
    width: 100%; 
    height: 100%;
    background: transparent;
}
img{
    width: 50%;
    height: 50%;
    position: fixed;
      top: 0;
      bottom: 50%;
      left: 0;
      right: 50%;
}
#logo{
  background-color:darkblue;
}
#design-text{
  font-size: 10vmin;
  word-wrap: break-word;
  text-align: center;
  vertical-align: middle;
  font-family: Ubuntu, Arial, sans-serif;
  color:white;
  background-color:brown;
}
#what-i-do{
  font-size:5vmin;
  background-color: green;
  color:white;
}
#contact{
  font-size:5vmin;
  background-color: yellow;
}